form {
    position: absolute;
    z-index: 1000;
    display: flex;
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,.2);
}

form * {
    display: block;
    width: 200px;
    border-radius: 10px;
    border: none;
}

form button {
    height: 25px;
    background-color: darkorange;
    color: whitesmoke;
    font-weight: bolder;
    margin-bottom: 2px;
    box-shadow: 0px 0px 12px black;
}

form input[type="text"] {
    height: 40px;
    margin-bottom: 20px;
    color: white;
    background-color: #222;
    text-align: center;
    font-size: 16px;
}

form input::placeholder {
    color: lightgray;
    text-align: center;
    font-size: 18px;
}

.spinner-bg {
    width: 100% !important;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}

.spinner {
    position: relative;
    width: 20%;
}

.loading-text {
    position: relative;
    display: block;
    color: white;
    /* background-color: red; */
    text-align: center;
    width: 100%;
}
